<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../static/partials/head.ejs %>
  </head>
    <body>

      <% include ../static/partials/navbar.ejs %>

      <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h1>Edit Wiki</h1>

      <form action="/wikis/<%= wiki.id %>/update" method="post">

        <div class="form-group">
          <label for="title">Wiki title</label>
          <input value="<%= wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
          <small class="text-muted" id="titleHelp">title must be 2 or more characters in length.</small>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea rows="4" class="form-control" name="body" placeholder="Enter Description"><%= wiki.body %></textarea>
          <small class="text-muted" id="bodyHelp">description must be 10 or more characters in length.</small>
        </div>

        <% if(currentUser) { %>
          <% if(currentUser.id === wiki.userId && (currentUser.isAdmin() || currentUser.isPremium())) { %>
          <div class="form-group">
            <label for="title">Add Collaborator</label>
            <input type="text" class="form-control" name="collaborator" aria-describedby="titleHelp" placeholder="Username">
            <small class="text-muted" id="titleHelp">username must be 2 or more characters in length.</small>
          </div>
          
          <div class="form-check">
            <% if(wiki.private == true) { %>
              <input class="form-check-input" checked='checked' name="private" type="checkbox" value="true" id="privateWiki">
            <% } else { %>
                <input class="form-check-input" name="private" type="checkbox" value="true" id="privateWiki">
            <% } %>
              <label class="form-check-label" for="privateWiki">
                Private Wiki
              </label>
          </div>
         
          <% } %>
        <% } %>

        <button type="submit" class="btn btn-primary">Update</button>
      </form>
     
      </main>

      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>
